<p id="notice"><%= notice %></p>

<h1>Listing Footers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Phone</th>
      <th>V street</th>
      <th>V zip code</th>
      <th>V state</th>
      <th>V country</th>
      <th>M p o box</th>
      <th>M zip code</th>
      <th>M state</th>
      <th>M country</th>
      <th>Facebook url</th>
      <th>Twitter url</th>
      <th>Linkedin url</th>
      <th>Pinterest url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @footers.each do |footer| %>
      <tr>
        <td><%= footer.email %></td>
        <td><%= footer.phone %></td>
        <td><%= footer.v_street %></td>
        <td><%= footer.v_zip_code %></td>
        <td><%= footer.v_state %></td>
        <td><%= footer.v_country %></td>
        <td><%= footer.m_p_o_box %></td>
        <td><%= footer.m_zip_code %></td>
        <td><%= footer.m_state %></td>
        <td><%= footer.m_country %></td>
        <td><%= footer.facebook_url %></td>
        <td><%= footer.twitter_url %></td>
        <td><%= footer.linkedin_url %></td>
        <td><%= footer.pinterest_url %></td>
        <td><%= link_to 'Show', footer %></td>
        <td><%= link_to 'Edit', edit_footer_path(footer) %></td>
        <td><%= link_to 'Destroy', footer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Footer', new_footer_path %>
