<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @footer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @footer.phone %>
</p>

<p>
  <strong>V street:</strong>
  <%= @footer.v_street %>
</p>

<p>
  <strong>V zip code:</strong>
  <%= @footer.v_zip_code %>
</p>

<p>
  <strong>V state:</strong>
  <%= @footer.v_state %>
</p>

<p>
  <strong>V country:</strong>
  <%= @footer.v_country %>
</p>

<p>
  <strong>M p o box:</strong>
  <%= @footer.m_p_o_box %>
</p>

<p>
  <strong>M zip code:</strong>
  <%= @footer.m_zip_code %>
</p>

<p>
  <strong>M state:</strong>
  <%= @footer.m_state %>
</p>

<p>
  <strong>M country:</strong>
  <%= @footer.m_country %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @footer.facebook_url %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @footer.twitter_url %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @footer.linkedin_url %>
</p>

<p>
  <strong>Pinterest url:</strong>
  <%= @footer.pinterest_url %>
</p>

<%= link_to 'Edit', edit_footer_path(@footer) %> |
<%= link_to 'Back', footers_path %>
